<section class="component">
	{% for category in categories %}
		<article class="category">
			<img class="avatar" src="https://picsum.photos/100">
			<h2 class="titre">
				<a href="/categories/show?id={{ category.id }}">{{ category.id }}.
					{{ category.name }}</a>
			</h2>
			<p class="date">{{ category.created_at }}</p>
			<p class="description">{{ category.description }}</p>
		</article>
	{% else %}
		<article class="category">C'est vide 🤦</article>
	{% endfor %}
</section>
