{% extends 'layout.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/editProfile.css" />
{% endblock %} {% block title %}Modifier le Profil{% endblock %} {% block
content %}
<div class="edit-profile-page">
    <div class="edit-profile-header">
        <h1 class="edit-profile-title">Modifier mon Profil</h1>
    </div>

    <div class="edit-profile-main">
        <form
            class="edit-profile-form"
            action="/profile/edit?id={{ user.id }}"
            method="POST"
            enctype="multipart/form-data"
        >
            <h2 class="sub-title">Mes infos</h2>

            <label for="name">Prénom :</label>
            <input
                type="text"
                id="name"
                name="name"
                value="{{ user.name }}"
                required
            />

            <label for="lastname">Nom :</label>
            <input
                type="text"
                id="lastname"
                name="lastname"
                value="{{ user.lastname }}"
                required
            />

            <label for="mail">Adresse email :</label>
            <input
                type="email"
                id="mail"
                name="mail"
                value="{{ user.mail }}"
                required
            />

            <label for="password">Mot de passe:</label>
            <small
                >Laissez ce champ vide si vous ne souhaitez pas changer votre
                mot de passe.
            </small>
            <input type="password" id="password" name="password" />

            <label for="description">Description :</label>
            <textarea id="description" name="description" required>{{
                user.description
            }}</textarea>

            <div class="form-group">
                <label for="profile_picture">Photo de profil :</label>
                {% if user.profile_picture is not null %}
                <div class="current-pp">
                    <img
                        src="{{ user.profile_picture ? '/upload/' ~ user.profile_picture}}"
                        alt="Photo de profil actuelle"
                    />
                </div>
                {% endif %}
                <input
                    type="file"
                    id="profile_picture"
                    name="profile_picture"
                />
                <small
                    >Laissez ce champ vide si vous ne souhaitez pas changer la
                    photo.</small
                >
                <input
                    type="hidden"
                    name="current_pp"
                    value="{{ user.profile_picture }}"
                />
            </div>

            <input type="submit" value="Enregistrer les modifications" />
        </form>
    </div>
</div>
{% endblock %}
