{% extends 'layout.html.twig' %} 
{% block stylesheet %}

<link rel="stylesheet" href="/assets/css/profile.css" />

{% endblock %} 

{% block content %}
<div class="profile-page">
<div class="profile-header">
    <img
        class="profile-picture"
        src="{{ user.profile_picture }}"
        src="/assets/images/pp.jpg"
        alt="Profile Picture"
        width="200"
        height="200"
    />
    <button class="pic-btn"><i class="fa-solid fa-pen-to-square"></i></button>

    <div class="profile-info">
        <h1>{{ user.username }}</h1>
        <p>{{ user.email }}</p>
    </div>
</div>

<div class="profile-section">
    <div class="section">
        <h2>Description</h2>
        <p>{{ user.description }}</p>
        <button>Modifier</button>
    </div>
    <div class="section">
        <h2>Historique</h2>
        <ul>
            {% for comment in comments %}
            <li>{{ comment.content }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="profile-details">
    <div>
        <strong>Nom d'utilisateur :</strong> {{ user.username }}
        <button>Modifier</button>
    </div>
    <div>
        <strong>Mot de passe :</strong> ********
        <button>Modifier</button>
    </div>
    <div>
        <strong>Adresse email :</strong> {{ user.email }}
        <button>Modifier</button>
    </div>
</div>
</div>
    {% endblock %}

