{# TODO : manage errors display #}

	<form method="post" class="form" enctype="multipart/form-data">
		<h2 class="title">Créer un nouveau Topic</h2>
			{% for error in errors %}
			<div>{{error}}</div>
			{% endfor %}
		<input type="hidden" value="{{ topic.id }}" name="id">
		<label for="title">Titre</label>
		<input type="text" class="input" value="{{ topic.title }}" name="title" id="title">

		<label for="content">Description</label>
		<textarea name="content" id="content" value="{{topic.content}}"></textarea>

		<label for="picture">Image</label>
		<input type="file" name="picture" id="picture" accept=".jpg, .jpeg, .png, .gif">

		<label for="category">Categorie</label>
		<input type="text" class="input" value="{{ category.name }}" name="category" id="category" disabled>

		<button>Submit</button>
	</form>