{% extends 'layout.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/topic.css" />
<link rel="stylesheet" href="/assets/css/_comment.css">
{% endblock %}
{% block content %}

<div class="topic-component">
    <div class="topic-card">
        <div class="author-info">
            {% if topicUser.picture is not null %}
			<img class="picture" src="{{'/' ~ topicUser.picture}}">
			{% else %}
			<img class="picture" src="/assets/images/default-2.jpg">
			{% endif %}
			<p>Auteur: </p>
            <p>{{ topicUser.name }} {{ topicUser.lastname }}</p>
        </div>
        <div class="message-content">
            <div class="title">{{ topic.title }}</div>
            <div class="date">Posté le {{ topic.created_at|date("d M Y - H:i") }}</div>
            <div class="content">{{ topic.content }}</div>
            {% if topic.picture and topic.fileExist == true %}
            <img class="picture" src="{{'/upload/' ~ topic.picture}}" alt="Image du topic">
            {% endif %}
        </div>
    </div>
</div>
{% if comments is defined %}
{% include 'comments/_comment.html.twig' %}

{% endif %}
{% if user is defined and user.id is not null %}
{% include 'comments/_form.html.twig' %}
{% endif %}
<div id="myModal" class="modal">
	<span class="close">&times;</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>
{% endblock %}