<form class="form form-center form-100" method="post">
    <input type="hidden" value="{{ comment.id_comment }}" name="id_comment">
    <div class="input-container">
        <label for="content">Contenu :</label>
        <textarea type="textarea" name="content" id="content">{{ comment.content }}</textarea>
    </div>
    <div class="input-container">
        <label for="picture">Image</label>
        <input type="file" name="picture" id="" accept=".jpg, .jpeg, .png, .gif">
    </div>

    <input type="hidden" name="created_at" value="{{ comment.created_at }}">

    <input type="hidden" name="is_modified" value="{{ comment.is_modified }}">

    <input class="id_user" type="hidden" value="{{ comment.id_user }}" name="id_user" id="id_user">

    <input class="id_topic" type="hidden" value="{{ comment.id_topic }}" name="id_topic" id="id_topic">

    <button class="submit"> Envoyer </button>
</form>